body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #ffffff;
    padding: 0px;

    .barra-superior {
        background-color: #333;
        color: #ffffff;
        text-align: center;
        padding: 10px;
        width: 100;
        top: center;
        margin-left: auto;
        margin-right: auto;
    }
    .barra-superior h1 {
        margin: 0;
    }


}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.login-box {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10; /*para que la animacion no quede por delante del login */
}
.persona {
    position: absolute;
    top: 1px; /* Sube la imagen 50px desde la parte superior */
    left: 1px; /* Mueve la imagen 20px hacia la izquierda */
    width: 30px;
    height: 30px;
    animation-name: rotar-margenes;
    animation-duration: 13s;
    animation-iteration-count: infinite; /alternaria a una o 2 veces/
transform-origin: center; /* Establece el origen de la transformación en el centro de la imagen */
}

