#map-container {
    position: relative;
    display: flex;
    height: 100vh;



}

#map {

    height: 100%;
    width: 93vw;
    margin-left:auto; /* Centra el mapa hacia la izquierda */
    margin-right: 10; /* Elimina el margen derecho */
}

#sidebar {
    position: absolute;
    top: 0;
    left: -500px; /* Inicialmente oculto */
    width: 250px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: -5px;
    margin-left: 0px;
    margin-right: 0px;

}




#menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999; /* Asegura que esté por encima del mapa */
    transition: 0.5s; /* Agrega transición para el movimiento del botón */
}
/* hola mundo */
/* pablo */
/* agus capo */