/* Estilos principales del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: rgb(184, 113, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    body {
        column-count: 1;
    }
    img {
        width: 100%;
    }
}
/* Estilos responsivos*/
@media (min-width: 601px) {
    body {
        column-count: 3;
    }
    img {
        width: auto;
    }
}

/* Contenedor principal */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Ocupa toda la altura de la ventana */
}

/* Caja de login */
.login-box {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Asegura que la animación quede detrás del login */
}

/* Estilos del canvas para la animación del logo */
#logoCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; /* La animación queda detrás del login */
}

/* Estilos de la imagen logo */
.persona {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 30px;
    height: 30px;
    animation-name: rotar-margenes;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
