#map-container {
    position: relative;
    display: flex;
    height: 100vh;

}
body{
    
    img{
        width: 100%;
    }

    .barras{
        width: fit-content;
    }

    @media (max-width: 600px){
        body{
        column-count: 1; 
        }
    }
    @media (min-width: 601px){
        body{
        column-count: 3; 
        }
    }
    
    
}

#map {

    height: 100%;
    width: 95vw;
    margin-left: 4%; /* Centra el mapa hacia la izquierda */
    margin-right: auto; /* Elimina el margen derecho */

}

#sidebar {
    position: absolute;
    top: 0;
    left: -500px; /* Inicialmente oculto */
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: -5px;
    margin-left: 0px;
    margin-right: 0px;

}
#sidebar ul li {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;

}

#menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999; /* Asegura que esté por encima del mapa */
    transition: 0.5s; /* Agrega transición para el movimiento del botón */
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para los botones de dificultad */
#sidebar ul li button {
    background-color: #808081;
}

#sidebar ul li button:hover {
    background-color: #004400;
}

/* Estilos para el botón "Mostrar Todos" */
#reset-btn button {
    background-color: #dc3545;
}

#reset-btn button:hover {
    background-color: #c82333;
}

#center-marker {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 30px;
     height: 30px;
     background-color: rgba(255, 0, 0, 0);
     border-radius: 50%;
     z-index: 9999; /* Asegúrate de que esté sobre cualquier otro contenido */
}

#center-marker::before, #center-marker::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #040303;
}

#center-marker::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

#center-marker::after {
    transform: translate(-50%, -50%);
}